{{define "layout"}}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<title>Renamer</title>
</head>
<body>
<br>

<div class="navigator">
{{range $index, $element := .Tabs}}
	<a class="navlink" {{if eq $.CurTab $element}} id="currenttab" {{end}} href="/folder/{{$element}}">{{$element}}</a>
{{end}}
</div>

<br>

{{template "content" .}}


</body>
</html>

{{end}}